/*this stylesheet is for general modifications*/

*{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Roboto';
}

body{
    margin:0;
    padding-top:80px;
    padding-left:100px;
    padding-right: 35px;
    height: 3000px;
    background-color: rgb(253, 252, 252);
}